// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    margin: 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

audio:focus {
    outline: none;
}

p {
    padding: 0;
    margin: 0;
}


html {
    font-family: 'Roboto', sans-serif;
    // border: 1px solid turquoise;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top, #6f757f, 35%, white);
}

.container {
    width: 100%;
    // border: 1px solid purple;
}

h2 {
    font-size: 15px;
    font-weight: 300;
    width: 500px;
    height: 10px;
    align-self: center;
}

textarea:focus, input:focus{
    outline: none;
    background-color: #E7F0FE;
    border-radius: 2px;
}

.logo {
    font-size: 20px;
    align-self: center;
    margin-left: 10px;
    margin-top: 30px;
    // background-image: linear-gradient(45deg, #5E47FD, 55%, #1E9FC4,#1ec4b9);
    
    // background-size: 100%;
    // background-repeat: repeat;
    // font-weight: 500;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent; 
    // background-clip: text;
    // -moz-background-clip: text;
    // -moz-text-fill-color: transparent;

    // text-align: center;
    background: linear-gradient(45deg, darkgray 5%,black 20%, #584FF8 70%, #347FD7 80%, darkgray 99%);
    background-size: 200% auto;
    
    color: #000;
    background-clip: text;
    // text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    animation: shine 10s linear infinite;
    @keyframes shine {
        to {
        background-position: 200% center;
        }
    }

}

.nav-bar {
    width: 90%;
    margin: 0 auto;
}

.nav-top {
    display: flex;
    justify-content: space-between;
    
    
}

.nav-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

    .support {
        background-image: linear-gradient(45deg, #5E47FD, 55%, #1E9FC4,#1ec4b9);
        background-size: 100%;
        background-repeat: repeat;
        font-weight: 500;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        background-clip: text;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }
}

.nav-bar-links {
    display: flex;
    // justify-content: flex-end;
}


.auth-links {
    display: flex;
    justify-self: flex-end;
    position: absolute;
    right: 62px;

    .auth-nav {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        background-color: white;
        position: absolute;
        z-index: 2;
        right: 1px;
        top: 30px;
        border-radius: 5px;
        width: 236px;
        padding: 10px;

        p {
            // display: flex;
            img {
                position: absolute;
                right: 10px;
                top: 15px;
                // justify-self: flex-end;
            }

            &:hover {
                text-decoration: none;
                background-color: rgb(236, 236, 236);
            }
        }

        a {
            color: black;
            font-weight: lighter;
            font-size: 18px;
            
        }
    }

}

.auth-links p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.avatar {
    border-radius: 55%;
    background-image: linear-gradient(to right, #5E47FD, 55%, #1E9FC4);
    background-size: 100%;
    background-repeat: repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 30px;
    color: yellow;
    text-align: center;
}


.announce {
    text-align: center;
    // padding: 5px;
    margin: 0;
    display: flex;
    align-self: center;
    font-size: 17px;
    background-image: linear-gradient(45deg, #5E47FD, 55%, #1E9FC4,#1ec4b9);
    background-size: 92%;
    background-repeat: repeat;
    font-weight: 500;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

#main-story {
    // width: 104%;
    margin-left: -10px;
}

p {
    justify-content: flex-end;
    padding: 10px;
    font-size: 16px;
    // margin: 6px;
}

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.session-form-box {
    // outline: 1px solid black;
    padding: 20px;
    // background: #f3f3f3;
    background: white;
    position: relative;
    border-radius: 5px;
    width: 400px;
    min-height: 400px;
    height: 590px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    // display: flex;
    // justify-content: center;

    // .session-title {
    //     background-color: #F5F5F5;
    // }

    .choices {
        height: 140px;
        color: #808285;
        line-height: 16px;
        font-size: 12px;
        
        
        .artist, .label, .fan {
            display: flex;
            position: relative;
            padding-bottom: 25px;
            margin-top: 30px;
            border-bottom: 1px solid #CCCCCC;

            .art {
                float: left;
                position: relative;
                .mic {
                    position: absolute;
                    width: 80px;
                    left: 13px;
                    top: 13px;
                    bottom: 10px;
                    transform: rotate(30deg);
                }

                .circle {
                    position: absolute;
                    bottom: 7px;
                    z-index: 3;
                    background-color: #F1FAE7;
                    opacity: .7;
                    width: 105px;
                    height: 105px;
                    // padding: 10px;
                    border-radius: 55%;
                }
            }

            .session-type-button {
                color: #9CB67C;
                border: 1px solid #9CB67C;
                border-radius: 4px;
                font-weight: 500;
                width: 220px;
                padding-top: 10px;
                text-align: center;
                margin-left: 10px;
            }

            .info {
                // right: 44px;
                width: 261px;
                margin-left: 120px;
                
            
            }

            .session-helper {
                text-align: left;
            }

            a {
                color: #9CB67C;
                // font-weight: bolder;
            }
            
            



        }

        // .art::before, .headphones::before, .gramophone::before {
        //     position: absolute;
        //     z-index: 3;
        //     background-color: black;
        //     width: 105px;
        //     height: 105px;
        //     padding: 10px;
        //     border-radius: 55%;

        // }

        .fan {
            .art {
                position: relative;
                .headphones {
                    position: absolute;
                    left: 18px;
                    top: 27px;
                    width: 70px;
                    transform: rotate(-30deg);
                }

                .circle { 
                    background-color: #EDF7FA;
                }
            }

            .session-type-button {
                color: #5CB8D4;
                border-color: #5CB8D4;
            }

            a {
                color: #5CB8D4;
            }
            
        }

        .label {
            border-bottom: none;
            .art {
                position: relative;
                .gramophone {
                    position: absolute;
                    width: 65px;
                    left: 20px;
                    top: 30px;
                }

                .circle {
                    background-color: #F9F2FF;          
                }
            }

            .session-type-button {
                color: #8B6BB2;
                border-color: #8B6BB2;
            }
            
            a {
                color: #8B6BB2;
            }
            
        }
    }
}

.title {
    border-bottom: 2px dotted #ccc;
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
    padding-bottom: 30px;

}

.session-label {
    font-size: 16px;
    margin-right: 10px;
}

//!fix this
input {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 10px;
    width: 225px;
    margin-top: 50px;
    border: 1px solid #ccc;
    margin-top: 20px;
    background-color: #fff;
}

.checkbox {
    width: 10px;
}

input:active {
    border: 1px solid #ccc;
}

.submit-button {
    width: 245px;
    background-color: #00A1C6;
    color: #fff;
    border: none;
    padding: 10px;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.change-auth {
    color: #919294
}

a {
    color: #00A1C6;
    text-decoration: none;
}

.session-helper, .session-helper > p {
    text-align: center;
    font-size: 12px;
}

.top-helper {
    margin-top: -70px;
    margin-bottom: 30px;
}

.bottom-helper {
    margin-top: -20px;
}

.shift-left {
    margin-left: -10px;
}

.center {
    margin: 0 auto;
}

.error {
    color: #c43329;
    font-size: 16px;
    text-align: center;
}

.type {
    color: #818285;
    margin-top: 90px;
}

.type-link > a{
    color: #6E943B;
}



.type-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.demo {
    width: 225px;
    background-color: #00A1C6;
    color: #fff;
    border: none;
    padding: 10px;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(45deg, red,5%,#5E47FD, 45%, #1E9FC4,#1ec4b9,);
    background-size: 100%;
    background-repeat: repeat;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
    cursor: pointer;

}

@media only screen and (max-width: 865px){
    .auth-links {
        margin-top: 25px;
    }
}

@media only screen and (max-width: 536px){
    .slogan {
        display: none;
    }

    .auth-links {
        margin-top: 0;   
    }
}

//* Artist Homepage

.artist-home {
    display: relative;
    display: flex;
    height: 800px;
    width: 968px;
    margin: 0 auto;
    margin-top: 45px;
    

    
    .sidebar {
        float: right;
        .about {
            .image {
                display: flex;
                height: 102px;
                width: 120px;
                position: relative;

                .change-image {
                    background-color: yellow;
                    position: absolute;
                    right: 3px;
                    bottom: 3px;

                }

                #user-image {
                    height: 5px;
                    width: 5px;
                    opacity: 0;
                    position: absolute;
                    z-index: 1;
                    bottom: 3px;
                    right: 3px;
                }
    
                label {
                    align-self: center;
                    color: #0887F5;
                    font-size: 12px;
                    margin: 0 auto;
                }
                
            }       
            .username {
                font-size: 14px;
                margin-top: 9px;
            }
    
            .location {
                display: flex;
                color: #0887F5;
                font-size: 12px;
                
            }

            .location-output, .bio-output {
                margin-top: 10px;
                font-size: 12px;
                color: #888888;
                font-weight: lighter;
                word-wrap: normal;
                width: 90px;
                line-height: 1.2;
            }

            .bio-output {
                color: #202020
            }

            .artist-form {

                .location-input {
                    width: 109px;
                    height: 10px;
                    color: #595959;
                    font-weight: lighter;
                    font-family: 'Roboto', sans-serif;
                }

                button {
                    margin-top: 3px;
                    border: none;
                    width: 60px;
                    height: 25px;
                    
                    &:hover {
                            text-decoration: underline;
                            cursor: pointer;
                    }


                }

                .save {
                    color: white;
                    background-color: #0887F4;

                    &:disabled {
                        background-color: #BDDBFC;
                        text-decoration: none;
                        cursor: default;
                    }
                }

                .cancel {
                        background-color: #fff;
                        color: #0887F4;
                }

                

                .bio-input {
                    width: 115px;
                    height: 200px;
                    text-align: top;
                    border-radius: 0%;
                    border-top-color: #9C9C9C;
                    border-right-color: #9C9C9C;
                    border-left-color: #CCCCCC;
                    border-bottom-color: #CCCCCC;
                    margin-top: 15px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: lighter;
                    padding: 7px;
                    color: #595959;


                    &::placeholder {
                        font-family: 'Roboto', sans-serif;
                        font-weight: lighter;
                        padding: 4px;
                        color: #B0B0B0;
                    }

                    
                }
                .count {
                    font-size: 10px;
                    width: 131px;
                    height: 14px;
                    background-color: #F2F2F2;
                    font-weight: lighter;
                    text-align: center;
                    color: #444444;
                    margin-top: -5px;
                    padding-top: 7px;
                    padding-bottom: 0px;
                }

            }
    
            .bio {
                color: #0887F5;
                font-size: 12px;
            }
        }
    }

    .zero-items {
        margin-top: 50px;
        margin-left: 38px;
        float: left;
        width: 900px;

        h1 {
            font-size: 26px;
            span {
                display: inline-block;
                transform: scale(-1, 1);
                -moz-transform: scale(-1, 1);
                -webkit-transform: scale(-1, 1);
                -o-transform: scale(-1, 1);
                -ms-transform: scale(-1, 1);
                transform: scale(-1, 1);
            }

            .period {
                font-size: 9px;
            }
        }

        h2 {
            margin-top: 30px;
            font-size: 13px;
            max-width: 350px;
        }

        .add {
            width: 275px;
            font-size: 13px;
            text-align: center;
            display: flex;
            align-items: center;
            
            a {
                color: #0887F5;
            }

            div {
                border: 1.5px solid #ECECEC;
                height: 40px;
                display: inline-block;
                width: 125px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .track {
                border-left: none;
                font-weight: 300;
            }
        }
        
    }

    .show-items {
        float: left;
        display: flex;
        width: 975px;
        // margin: 0 auto;
        flex-wrap: wrap;

        .item-display {
            margin: 0 15px;
            flex-wrap: wrap;
            display: absolute;
            right: 50px;
            color: rgb(52, 52, 52);
            
            font-size: 14px;
            img {
                width: 168px;
                height: 168px;
                border: 1px solid #F1F1F1;
            }

            .add:hover {
                cursor: pointer;
                color: #7ea2b5;
            }
            .home-text {
                font-weight: lighter;
                margin: 6px;
                padding: 0px;
                
            }
            .delete:hover {
                color: rgb(170, 0, 0);
                cursor: pointer;
            }
            .artist {
                cursor: default;
            }

            .top {
                font-weight: bolder;
                cursor: default;
            }

            .single-player {
                width: 168px;
                background-color: white;

                
            }

            audio::-webkit-media-controls-panel{
                // background-color: white;
                background-image: linear-gradient(45deg,white, 75%, #1E9FC4,#1ec4b9);

            }

            

            // .home-title, .home-artist {
            //     // font-size: 14px;
            // }

        }

        .home-artist {
            font-weight: lighter;
            margin-top: 0;
        }
    }
}

//*Artist Input Form

.artist-input-form {
    margin: 0 auto;
    background-color: #F7F7F7;
    border-top: 1px solid #eee;
    height: 1400px;
    padding-top: 100px;
    border-top: 1px dotted lightgray;

    .blue {
        color: #0887F4;
    }

    form {
        display: flex;
        margin: 20px auto;
        width: 957px;
        height: 600px;
        padding-bottom: 50px;

        input, textarea {
            border-radius: 2px;
            &:focus {
                background-color: white;
            }
        }
        
        .left-side {
            width: 478px;
            padding: 20px;
            height: 100%;
            
            .preview {
                border-left: 1px solid #0887F4;
                // box-shadow: -3px 0 3px -3px #0887F4;
                height: 94px;
                border-top: 1px solid #DBDBDB;
                border-bottom: 1px solid #DBDBDB;
                background-color: #fff;
                margin-right: -21px;
                position: relative;
                z-index: 0;
                font-size: 11px;

                img {
                    height: 72px;
                    width: 72px;
                    float: left;
                    margin: 10px;
                    
                }

                .top {
                    font-size: 20px;
                    font-weight: lighter;
                    color: #363636;
                    padding: 8px;
                }

                .by, .price {
                    font-weight: lighter;
                    margin-bottom: 6px;
                    display: inline-block;
                }

                .genre {
                    margin-bottom: 5px;
                    color: #8b8b8b;
                    font-weight: 300;
                }

                .price {
                    color: #939393;
                }

            }

            .audio {
                color: #808080;
                font-size: 11px;
                font-weight: bolder;
                
            }

            .add-audio {
                display: inline-block;
                margin-right: 20px;
                margin-bottom: 20px;

            }
            div {
                
                #add-audio{
                    position: absolute;
                    left: 60px;
                    top: 410px;
                    z-index: 1;
                    opacity: 0;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .helper {
                font-size: 12px;
                color: #909090;
                font-weight: lighter;
            }

            .pro {
                color: #408294;
                font-size: 12px;
                font-weight: lighter;
                margin-bottom: 10px;
            }
            .album-info {
                font-size: 12px;
                font-weight: lighter;
                margin-bottom: 30px;
                
                .checkbox{
                    margin-left: 0;
                }
            }

            .submit-item-form-buttons {
                display: flex;
                justify-content: space-between;
                margin-top: 90px;
                
                .save {
                    background-color: #0687f5;
                    border: 1px solid #2072b8;
                    color: white;                    
                    width: 108px;
                    height: 32px;
                    font-size: 14px;
                    font-weight: bold;

                    .spinner {
                        font-size: 22px;
                        margin-top: 2px;
                    }

                    p {
                        padding: 0px;
                        color: white;
                    }

                    &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
                
                .cancel {
                    font-weight: lighter;
                    font-size: 12px;

                    &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            
            }
        }

        .right-side {
            width: 478px;
            padding: 20px;
            background-color: #fff;
            margin-top: -20px;
            border-left: 1px solid #DADADA;
            box-shadow: -3px 0 7px -3px #dadada;
            height: 630px;

            .track-group {
                display: flex;
                border-bottom: 1px dotted #D9D9D9;
                padding-bottom: 30px;

                .blue {
                    color: #50A1E6;
                    font-size: 14px;
                    // padding-bottom: 20px;
                    // display: block;
                    padding-top: 20px;
                    margin-left: -12px;
                    padding-right: 6px;
                }

            }

            .track-name {
                width: 100%;
                
                &::placeholder {
                    color: #B0B0B0;
                    font-size: 18px;
                    // margin-top: 4px;
                }
            }

            .artist-item-input {
                margin-top: 0px;
                margin-top: 0px;
                width: 417px;

                &::placeholder {
                    color: #B0B0B0;
                }
            }

            .input-helper {
                font-size: 12px;
                // font-weight: lighter;
                margin-top: 8px;
                font-weight: inherit;
            }

            .upper {
                margin-top: 20px;
                margin-bottom: -10px;
            }

            .under {
                color: #999999;
            }

            .top {
                margin-top: 0px;
            }
            
            .song-art-section{
                border-bottom: 1px dotted #D9D9D9;
                padding-bottom: 28px;
                display: relative;


                
                
                img {
                    display: absolute;
                    margin-top: -140px;
                    margin-left: -2px;
                    // top: 50px;
                    // width: 190px;
                    height: 204px;
                    width: 216px;
                }
                .song-art{
                    position: relative;
                    // border: 1px dashed gray;
                    text-align: center;
                    font-size: 18px;
                    width: 212px;
                    height: 200px;

                    // #add-track-image{
                    //     position: absolute;
                    //     top: 400px;
                    //     background-color: red;
                    // }
    
                    .upload {
                        color: #0887F4;
                        font-weight: 300;
                        // text-decoration: underline;
    
                        &:hover {
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                
                    .helper {
                        display: block;
                        color: #999999;
                        font-size: 12px;
                        width: 175px;
                        margin: 0 auto;
                        font-weight: lighter;
                    }
                    
                    #add-track-image {
                        opacity: 0;
                        width: 180px;
                        position: absolute;
                        // z-index: -1;
                        top: -20px;
                        left: 5px;
                        height: 165px;
                        cursor: pointer;
                        padding-top: 30px;
                        

                        // input[type="file"] {
                        //     cursor: pointer;
                        // }

                        // &:hover{
                        //     // display: none;
                        //     text-decoration: underline;
                        //     color: red;
                        //     // opacity: 1;
                        // }
                        
                        &:hover, .upload:hover {
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                }
            }
            .about {
                textarea{
                    border-top: 1px solid #ccc;
                    border-right: 1px solid #ccc;
                    border-left: 1px solid #e5e5e5;
                    border-bottom: 1px solid #e5e5e5;

                    &::placeholder{
                            color: #B0B0B0;
                            font-family: Arial, Helvetica, sans-serif;
                    }
                }
            }
        }
    }
}

//* Music Player
.music-player {
    width: 100%;

    .playlistTitle {
        font-weight: lighter;
        color: #292e49;
    }
    
    audio {
        width: 100%;
    }

    


    .song-in-playlist {
        display: flex;
        
        div {
            padding: 7px;
        }
    }

    .i1,.i2,.i3,.i4,.i5,.i6,.i7,.i8,.i9,.i10 {
        display: flex;
        div {
            padding: 7px;
            color: white;
            font-weight: lighter;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .i1{
        background-color: #536976;
        
    }
    .i2{
        background-color: #4e6271;
    }
    .i3{
        background-color: #495b6c;
    }
    .i4{
        background-color: #455567;
    }
    .i5{
        background-color: #404e62;
    }
    .i6{
        background-color: #3b485d;
    }
    .i7{
        background-color: #374158;
    }
    .i8{
        background-color: #323b53;
    }
    .i9{
        background-color: #2d344e;
    }
    .i10{
        background-color: #292e49;
    }
}

//* Search
.search-bar {

    position: absolute; 
    // top: 5px;
    right: 40px;
    z-index: 1;
    

    input {
        background-color: #F3F3F3;
        border: none;
        border-radius: 3px;
        margin-right: 16px;
        width: 260px;
        padding: 15px;
        font-size: 14px;
        color: #333;

    }
    
    input:focus{
        outline: none;
        border: none;
    }

    ::placeholder {
        color: #7c7c7c;
        font-size: 14px;
        // padding: 5px;
    }

    .fa-search {
        position: absolute; 
        top: 38px;
        right: 30px;
        color: #888888;
        font-size: 14px;
    }

    .caret {
        font-weight: bold;
        // font-size: 20px;
    }
    .dropdown{
        // display: none;
        // z-index: 1;
        div {
            width: 253px;
            display: flex;
            justify-content: space-between;
            // height: 50px;
            padding: 18px;
            font-weight: bold;
            color: white;
            font-size: 14px;
            cursor: pointer;

        }
        
        .fa-greater-than {
            font-weight: lighter;
        }

        .electronic {
            background-color: #F7A663;
            
            &:hover {
                background-color:#F8B37B;
            }
        }

        .metal {
            background-color: #F57356;
            &:hover {
                background-color:#F78A71;
            }
        }

        .rock {
            background-color: #DF2635;
            &:hover {
                background-color:#E64D55;
            }
        }

        .alt {
            background-color: #D4356D;
            &:hover {
                background-color:#DB5683;
            }
        }

        .hip-hop {
            background-color: #C13EA2;
            &:hover {
                background-color:#CB5CB0;
            }
        }

        .exp {
            background-color: #9C62C0;
            &:hover {
                background-color:#AB7ACA;
            }
        }

        .punk {
            background-color: #8172B1;
            &:hover {
                background-color:#9487BD;
            }
        }

        .pop {
            background-color: #8690CB;
            &:hover {
                background-color:#99A0D3;
            }
        }

        .ambient {
            background-color: #88A8C5;
            &:hover {
                background-color:#99A0D3;
            }
        }

        .browse {
            background-color: #333333;
            &:hover {
                background-color:#525252;
            }
        }
    }

    .show {
        display: block;
    }

}


//Results

.results {
    width: 955px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    // background-color: blue;
    // padding-top: 20px;
    // border: 1px solid purple;
    // background-color: ;

    // background: linear-gradient(45deg, darkgray 5%, white 30%, white 60%, darkgray 99%);
    // background-size: 200% auto;
    
    // color: #000;
    // background-clip: text;
    // text-fill-color: transparent;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    
    // animation: shine 10s linear infinite;
    // @keyframes shine {
    //     to {
    //     background-position: 200% center;
    //     }
    // }


        // #5E47FD, 55%, #1E9FC4,#1ec4b9

    background: linear-gradient(270deg, #5E47FD, #1E9FC4);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;


    @-webkit-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }

    .search-title {
        margin-bottom: 20px;
        // padding-bottom: 20px;
        position: absolute;
        left: 55px;
        top: 175px;
        font-weight: lighter;
        font-size: 40px;
        color: white;
        // padding: 20px;
        background-image: linear-gradient(45deg, #5E47FD, 55%, #1E9FC4,#1ec4b9);
        background-size: 100%;
        background-repeat: repeat;
        // font-weight: 500;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        background-clip: text;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        // text-shadow: 2px 2px 8px #8b8b8b;
    }


    .result-parent {
        // display: relative;

        margin: 10px;
    
        .result-display {

            color: rgb(52, 52, 52);
            font-size: 14px;

            padding: 0;
            margin: 0;
            color: white;

            a {
                color: white;
            }
    
            img {
                width: 168px;
                height: 168px;
                border: 1px solid #F1F1F1;
            }
        
            .add:hover {
                cursor: pointer;
                color: #7ea2b5;
            }
            .home-text {
                font-weight: lighter;
                margin: 6px;
                padding: 0px;
            }

            
        
            .top {
                font-weight: bolder;
                
            }
        
            #results-single-player {
                width: 168px;
                // background-color: white;
                
                
            }
        
            audio::-webkit-media-controls-panel{
                // background-color: white;
                // background-image: linear-gradient(45deg,white, 75%, #1E9FC4,#1ec4b9);
                background-image: transparent;
        
            }
        
            
        
            // .home-title, .home-artist {
            //     // font-size: 14px;
            // }
        
        }
    }
}


//* Homepage
.home {
    // width: 100%;
    // display: flex;
    // height: 1000px;
    height: 100%;
    // border: 5px solid hotpink;
    
    .stories {
        margin-top: 40px;
        // margin-right: auto;
        // margin-left: auto;
        display: flex;
        width: 1263px;
        margin: 0 auto;
        height: 510px;
        // border-bottom: 2px dotted slategray;

        
        
        // p {
            //     background-color: transparent;
            // }
        .main {
            // border: 1px solid purple;
            position: relative;
            // height: 507px;
            img {
                width: 933px;
                height: 511px;
            }
            p {
                position: absolute;
                bottom: 55px;
                left: 100px;
                font-size: 28px;
                font-weight: bolder;
                
            }

            h6{
                position: absolute;
                bottom: 15px;
                left: 112px;
                font-size: 13px;
            }
        }
        .side {
            display: flex;
            flex-direction: column;
            border-left: 2px solid black;

            .set {
                position: relative;
                // border: 1px solid purple;
                height: 169px;
                border-bottom: 2px solid black;
                img {
                    width: 326px;
                    height: 169px;
                    margin: 0;
                    padding: 0;
                }
                p {
                    position: absolute;
                    bottom: 20px;
                    
                }

                h6 {
                    position: absolute;
                    font-size: 10px;
                    bottom: -7px;
                    left: 11px;
                    text-transform: uppercase;

                }
                

            }

            .bottom {
                    border-bottom: none;
            }
        }
    }

    .learn-more {
        display: flex;
        background-color: white;
        justify-content: space-between;
        // padding: 40px;
        // position: absolute;
        bottom: 281px;
        width: 1261px;
        height: 421px;
        padding-top: 50px;
        margin: 0 auto;
        // border-top: 2px dotted black;
        // border-top-color: linear-gradient(45deg, red,5%,#5E47FD, 45%, #1E9FC4,#1ec4b9);
    
        img {
            width: 100px;
            padding-left: 90px;
        }
        div {
            position: relative;
            margin: 0 80px;

            .headphones {
                
                position: absolute;
                right: 77px;
                // display: none;
            }

            .headphones-copy {
                margin-top: 115px;
            }

            .mic {
                position: absolute;
                bottom: 245px;
                left: 3px;
                height: 95px;
                width: 80px;
                margin-bottom: 20px;
                // transform: rotate(30deg);
            }

            .artists {
                margin-top: 115px;
            }

            .label {
                width: 65px;
                margin-left: 12px;
            }
        }


        div {
            width: 283px;
        }
        h3, p {
            font-weight: lighter;
            text-align: center;
        }

        h3 {
            color: #477987;
            font-weight: bolder;
        }
        button {
            background-color: white;
            color: #477987;
            border: 1px solid #C1D6DD;
            border-radius: 4px;

            width: 100%;
            padding: 17px;
            font-weight: bolder;

        }
        
    }

    .footer {
        background-color: #467986;
        height: 160px;
        color: white;
        text-align: center;
        font-size: 50px;
        padding-top: 80px;
        width: 100%;
        // position: fixed;
        // bottom: 0;
        .links{
            // text-align: center;
            margin: 0 auto;
            width: 150px;
            background-image: linear-gradient(45deg,gray, 45%, #1E9FC4,white);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
            background-clip: text;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
        }
        a  {
            color: white;

        }
    }
}



